body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.jump-anchor {
  position: relative;
  bottom: 32px;
  display: block;
}

.jump-anchor[name='privacy'] {
  bottom: 53px;
}
